@using DsaGame.Web.Utility
@model GameOverScreenModel

<div class="game-over-container">
    <h1>@Model.PageTitle</h1>

    <table class="score-table">
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Level</th>
            <th>Score</th>
        </tr>

        @{
            var rank = 1;
            foreach (var s in Model.ScoreList) 
            {   <tr>
                    @if(s.IsLegit)
                    {
                        <td>
                            @if (rank == 1)
                            {
                                <img src="~/assets/ranking-img/1st-palce.png" alt="1st place" width="50%" />
                                @rank
                            }
                            else if (rank == 2)
                            {
                                <img src="~/assets/ranking-img/2nd-place.png" alt="2nd place" width="50%" />
                                @rank
                            }
                            else if (rank == 3)
                            {
                                <img src="~/assets/ranking-img/3rd-place.png" alt="3rd place" width="50%" />
                                @rank
                            }
                            else
                            {
                                @rank
                            }
                        </td>
                        <td>@s.User.Name</td>
                        <td >@s.GameLevel</td>
                        <td >@s.Points</td>
                    }
                </tr>

                rank++;
            }
        }

        <!-- Add more rows dynamically if needed -->
    </table>

    <button class="retry-btn" onclick="window.location.reload();">
        @Model.GameOverPageButtonTitle
    </button>
    @if (Model.PageTitle == SD.GameOver) 
    {
        <div class="subtext">
            Better luck next time!
        </div>
    }

</div>

